body{
    background: url('../img/hojasVerdes.jpg');
    background-attachment: fixed;
    background-size: cover;
    transition: all 500ms;
    
}

#logo{
    background-color: #235E3D;
    
}

#menu ul li:hover{
    background-color: #235E3D;
}

.button-more{
    background-color: #235E3D;
}

.button-more:hover{
    background-color: green;
}